{% extends 'AcmeConferenceBundle::layout.html.twig' %}

{% block content %}

    <h1>Edit {{ conference.name }}</h1>

    <form action="{{ path('conference_edit', { 'slug': conference.slug }) }}" method="post" novalidate="novalidate">
        {{ form_widget(form) }}
        <button type="submit">Save</button>
    </form>

    <form action="{{ path('conference_delete', { 'slug': conference.slug }) }}" method="post" novalidate="novalidate">
        <button type="submit">Delete</button>
    </form>

{% endblock %}
