{% extends 'AcmeConferenceBundle::layout.html.twig' %}

{% block content %}

    <ul class="thumbnails">
        {% for conference in conferences %}
            <li id="conference-{{ conference.id }}" class="span3 well" style="position: relative; height: 350px;">
                <h5>{{ conference.name }}</h5>
                {% include 'AcmeConferenceBundle:Conference:mapSmall.html.twig' %}
                <p>{{ conference.location }}</p>
                <a class="btn btn-small btn-warning" style="position: absolute; bottom: 20px; width: 200px;" href="{{ path('conference_edit', { 'slug': conference.slug }) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
